*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
.DS_Store
.classpath
.gradle
.idea
.project
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/local.properties
Thumbs.db
bin/
build/
gen/
out/
testConfig.json
*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
